// Base styles
*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  color: $blurple-dark;
  font-size: 16px;
  overflow-x: hidden;
  background: $white;
  font: 18px/1.333 $font-regular;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

p {
  em {
    font-style: italic;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

// Browser alert
.alert-warning {
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;
  color: $black;
  padding: 50px;
  text-align: center;
  background: $brand-primary;
}
.alert {
  padding: 50px;
  background: #fff;
}

// Disable scrolling when modals are active
.no-scroll {
  overflow: hidden;
}

// Utility classes
.hidden {
  display: none;
}

.container {
  position: relative;
  @include clearfix();
  margin-top: $nav-height-mobile;
  @include media-nav {
    // Space for fixed nav
    margin-top: $nav-height;
  }
}

.page-content {
  @include global-padding(6);

  // First user-content block gets 10 columns on desktop
  @include media-md {
    >.user-content {
      width: columns(10,16);
    }
  }
}

// Default svg icon sizes
svg.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  fill: $blurple-dark;
}

// This allows js to determine breakpoint
#breakpoint-indicator {
  width: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;

  &::after {
    content: 'xs';
    @include media-sm {
      content: 'sm';
    }
    @include media-md {
      content: 'md';
    }
    @include media-nav {
      content: 'nav';
    }
    @include media-lg {
      content: 'lg';
    }
    @include media-xl {
      content: 'xl';
    }
  }
}
