// Typography

// Fonts
$font-header: 'GT Pressura', sans-serif;
$font-regular: 'CadizWeb', sans-serif;
$font-mono: 'GT Pressura Mono', sans-serif;

@font-face {
  font-family:'GT Pressura';
  src: url('../fonts/GT-Pressura-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/GT-Pressura-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/GT-Pressura-Bold.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/GT-Pressura-Bold.woff') format('woff'); /* Pretty Modern Browsers */
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family:'GT Pressura Mono';
  src: url('../fonts/GT-Pressura-Mono-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/GT-Pressura-Mono-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/GT-Pressura-Mono-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/GT-Pressura-Mono-Regular.woff') format('woff'); /* Pretty Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family:'GT Pressura Mono';
  src: url('../fonts/GT-Pressura-Mono-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/GT-Pressura-Mono-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/GT-Pressura-Mono-Bold.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/GT-Pressura-Mono-Bold.woff') format('woff'); /* Pretty Modern Browsers */
  font-weight: bold;
  font-style: normal;
}
// Cadiz
@font-face {
  font-family:'CadizWeb';
  src: url('../fonts/CadizWeb-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/CadizWeb-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/CadizWeb-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/CadizWeb-Regular.woff') format('woff'); /* Pretty Modern Browsers */
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+000D-FB04;
}
@font-face {
  font-family:'CadizWeb';
  src: url('../fonts/CadizWeb-RegularItalic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/CadizWeb-RegularItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/CadizWeb-RegularItalic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/CadizWeb-RegularItalic.woff') format('woff'); /* Pretty Modern Browsers */
  font-weight: 400;
  font-style: italic;
  unicode-range: U+000D-FB04;
}
@font-face {
  font-family:'CadizWeb';
  src: url('../fonts/CadizWeb-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/CadizWeb-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/CadizWeb-Bold.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/CadizWeb-Bold.woff') format('woff'); /* Pretty Modern Browsers */
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+000D-FB04;
}

@mixin font-regular {
  font-weight: normal;
  font-family: $font-regular;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}
@mixin font-header {
  @include smooth;
  font-weight: bold;
  font-family: $font-header;
  letter-spacing: -0.1px;
}
@mixin font-mono {
  @include smooth;
  font-family: $font-mono;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 2.41px;
  text-transform: uppercase;
}

@mixin h1-jumbo {
  @include font-header;
  font-weight: bold;
  font-size: 96px;
  line-height: 96px;
  letter-spacing: -0.89px;
}
@mixin h1 {
  @include font-header;
  font-size: 72px;
  line-height: 80px;
}

@mixin h2 {
  @include font-header;
  font-size: 36px;
  line-height: 40px;
}

@mixin h3 {
  @include font-header;
  font-size: 28px;
  line-height: 32px;
}

@mixin h4 {
  @include font-mono;
  font-weight: normal;
}

@mixin h5 {
  @include font-mono;
  font-weight: bold;
}

@mixin p1 {
  @include font-regular;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 1px;
}
p.intro { @include p1; }

@mixin p2 {
  @include font-regular;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0.75px;
}

@mixin p3 {
 @include font-regular;
 font-size: 16px;
 line-height: 24px;
 letter-spacing: 0.47px;
}
%p3,
.p3,
p.p3,
p.small {
  @include p3
}

// Global header styles
%h1,.h1,h1 {
  @include h2;
  @include media-md {
    @include h1;
  }
}
%h2,.h2,h2 {
  @include h3;
  @include media-md {
    @include h2;
  }
}
%h3,.h3,h3 {
  @include h3;
}
%h4,.h4,h4 {
  @include h4;
}
%h5,.h5,h5 {
  @include h5;
}

// Reset all margins
dl,
dt,
dd,
p,
ol,
ul,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}


// Basic paragraph styles
address,
p,
%p2,
.p2,
figcaption {
  @include p3;

  @include media-md {
    @include p2;
  }
}
