// Styling of content that is editable in wysiwyg

.mce-content-body,
.user-content {
  @include clearfix();

  * + * {
    margin-top: grid(2);
    @include media-md {
      margin-top: grid(4);
    }
  }

  a:not(.button) {
    border-bottom: 2px solid $blurple-dark;
    @extend %inline-link;
  }
  .button a,
  a.button {
    border: none;
    margin-right: grid(1);
  }

  h2,h3 {
    color: $blurple;
    @extend %header-link;
  }

  // Small paragraph block style
  .p3 {
    p {
      @extend %p3;
    }
  }

  ol,
  ul {
    @extend %p2;
    padding: 0 0 0 2.25em;
    li {
      margin: 0 0 grid(2);
      > ul {
        margin-top: grid(2);
      }
    }
  }
  ol {
    list-style: none;
    li {
      counter-increment: num;
      position: relative;
      &::before {
        @extend %h4;
        content: counter(num) ". ";
        position: absolute;
        top: 6px;
        left: grid(-4);
        color: $red;
      }
    }
  }

  &.dark-bg {
    ol,
    ul {
      li::before {
        color: $blurple-dark;
      }
    }
  }

  blockquote {
    margin: grid(4) 0;
    padding: 0 $global-padding;
    border-left: 2px solid $red;
  }

  // Smaller bullets than "disc" on lists
  ul li {
    list-style-type: none;
    position: relative;
    &:before {
      content: '•';
      color: $red;
      display: block;
      position: absolute;
      left: -1.5em;
    }
  }

  hr {
    height: 0;
    border: 0;
    border-bottom: 1px solid $blurple-dark;
  }

  em {
    font-style: italic;
  }

  strong {
    font-weight: bold;
  }
}
