// Primary nav

// WP admin bar push
.admin-bar {
  .site-header {
    top: $admin-bar-height-mobile;
  }

  // Desktop styles
  @include min-screen(782px) {
    .site-header {
      top: $admin-bar-height;
    }
  }
}

.site-header {
  height: $nav-height-mobile;
  background: $blurple-dark;
  box-shadow: 0 2px 16px rgba(0,0,0,0.5);

  .wrap {
    position: relative;
    margin: grid(2) $mobile-global-padding;
  }

  @include max-screen($breakpoint-nav) {
  }

  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 10;

  // Logo + wordmark
  .brand {
    margin: 0;
    padding: 0;
    line-height: 40px;
    a {
      display: inline-block;
    }
    .logo-icon {
      fill: $yellow;
      width: 40px;
      height: 40px;
      vertical-align: middle;
    }
    .logo-wordmark-mobile {
      width: 66px;
      height: 28px;
      fill: $white;
      margin-left: 5px;
      vertical-align: middle;
    }
    .logo-wordmark {
      display: none;
      fill: $white;
      width: 283px;
      height: 26px;
      vertical-align: middle;
    }
  }

  // Desktop styles
  @include media-nav {
    height: $nav-height;
    position: fixed;
    .wrap {
      margin: grid(5) columns(2) grid(6);
    }
    .brand {
      .logo-icon {
        fill: $yellow;
        position: absolute;
        width: 56px;
        height: 56px;
        left: -74px;
        top: -4px;
      }
      .logo-wordmark {
        display: inline-block;
      }
      .logo-wordmark-mobile {
        display: none;
      }
    }
  }
}

// Mobile menu toggle
.menu-toggle {
  display: none;
  .icon-cross {
    display: none;
  }
}

.site-nav {
  // Primary links
  .primary-nav {
    font: 18px/1.333 $font-regular;
    letter-spacing: 0.07em;
    margin-top: grid(3);
    a {
      display: block;
      color: $yellow;
      padding: grid(1);
    }
    a:hover,
    li.active a {
      text-decoration: underline;
    }

    // Divider class added in wp admin menus
    .divider {
      margin: grid(1) 0 0;
      padding: grid(1) 0 0;
      border-top: 2px solid $white;
    }

    @include media-nav {
      white-space: nowrap;
      .divider {
        margin: 0 0 0 grid(1);
        padding: 0 0 0 grid(1);
        border: none;
        position: relative;
        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 50%;
          margin-top: -8px;
          height: 16px;
          border-left: 2px solid $white;
        }
      }
    }
  }

  // Utility links
  .utility-nav {
    @extend %h5;
    a {
      display: block;
      color: $white;
      padding: 5px 0 10px;
    }
    li.active a,
    a:hover {
      text-decoration: underline;
    }
    border-top: 2px solid $white;
    padding: grid(2) 0 0;
    margin: grid(2) 0 0;

    // Desktop styles
    @include media-nav {
      position: absolute;
      top: 0;
      right: 0;
      font: 16px/1.5 $font-regular;
      text-transform: none;
      letter-spacing: 0;
      margin: 0;
      padding: 0;
      border: none;
      a {
        padding: grid(1);
      }
    }
  }

  // Desktop styles
  @include min-screen($breakpoint-nav) {
    margin-top: grid(2.5);

    ul {
      display: block;
      margin: 0 0 0 -#{grid(1)};
      padding: 0;
      li {
        list-style: none;
        display: inline-block;
      }
    }
  }
}

// Search form in nav
.nav-search {
  display: none;
  margin-top: grid(2);

  @include media-nav {
    margin: 0;
    .search-form {
      position: absolute;
      top: -12px;
      right: 0;
      width: 50%;
    }
    .search-close {
      position: absolute;
      right: -70px;
      top: 12px;
      width: 48px;
      height: 48px;
    }
  }
}

// Search open/close
body.search-open {
  @include media-nav {
    #menu-main-nav,
    #menu-utility-nav {
      display: none;
    }
    .nav-search {
      display: block;
    }
    .search-toggle {
      display: none;
    }
  }
}

// Icon in nav to toggle .nav-search
.search-toggle {
  display: none;
  position: absolute;
  right: -70px;
  top: 0;
  width: 48px;
  height: 48px;

  @include media-nav {
    display: block;
  }
}

// Hide nav/search button when nav search is active
.site-header.search-active {
  #menu-main-nav {
    display: none;
  }
  .nav-search {
    display: block;
  }
}

// Mobile only styling on #menu-main-nav (using max-screen to avoid overwriting all these specific styles)
@include max-screen($breakpoint-nav) {

  .menu-toggle {
    display: block;
    position: absolute;
    top: 8px;
    right: 0;
    svg {
      fill: $yellow;
      width: 24px;
      height: 24px;
    }

    &:focus {
      outline: none;
    }

    @include min-screen($breakpoint-nav) {
      top: auto;
      display: none;
    }
  }

  ul#menu-main-nav,
  ul#menu-utility-nav {
    display: none;
  }
  ul#menu-main-nav {
    li {
      a {
        display: block;
        padding: grid(1) 0;
        margin: 0;
      }
    }
    .menu-search {
      display: none;
    }
    li.-active {
      a svg {
        transform: rotate(270deg);
      }
      .sub-menu {
          max-height: none;
      }
    }
  }
  body.menu-open {
    // Disable scroll on body + hide WP adminbar
    overflow: hidden;
    position: fixed;
    #wpadminbar {
      display: none;
    }

    // Show nav-search when mobile nav is open
    .nav-search {
      display: block;
    }
    .search-close {
      display: none;
    }

    // Show X button
    .menu-toggle {
      .icon-hamburger {
        display: none;
      }
      .icon-cross {
        display: block;
      }
    }

    .site-header {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $blurple-dark;
      height: auto;
      z-index: 100;
      overflow-y: scroll;
      .wrap {
        position: relative;
      }
    }
    &.admin-bar .site-header {
      padding-top: 46px;
    }
    ul#menu-main-nav,
    ul#menu-utility-nav {
      display: block;
    }
  }
}
