// Primary nav

// WP admin bar push
.admin-bar {
  .site-header {
    top: $admin-bar-height-mobile;
  }

  // Desktop styles (weird WP breakpoint 782px)
  @include min-screen(782px) {
    .site-header {
      top: $admin-bar-height;
    }
  }
}

// Up until 600px WP adminbar is not fixed
@include max-screen(600px) {
  // ...so after scrolling down, move site-header to top (a bit janky, but only for mobile WP-logged-in users!)
  body.has-scrolled .site-header {
    top: 0;
  }
}

.site-header {
  height: $nav-height-mobile;
  background: $blurple-dark;
  @include drop-shadow;

  .wrap {
    position: relative;
    margin: grid(2) $mobile-global-padding;
  }

  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 10;

  .menu-toggle {
    display: block;
    position: absolute;
    top: 0;
    right: 0;

    &:focus {
      outline: none;
    }

    @include min-screen($breakpoint-nav) {
      top: auto;
      display: none;
    }
  }

  // Logo + wordmark
  .brand {
    margin: 0;
    padding: 0;
    line-height: 40px;
    a {
      display: inline-block;
    }
    .logo-icon {
      fill: $yellow;
      width: 48px;
      height: 48px;
      vertical-align: middle;
    }
    .logo-wordmark-mobile {
      width: 96px;
      height: 41px;
      fill: $white;
      margin-left: 12px;
      vertical-align: middle;
    }
    .logo-wordmark {
      display: none;
      fill: $white;
      width: 195px;
      height: 18px;
      margin-left: grid(2);
      vertical-align: middle;
    }
  }

  // Interim styles
  @include media-sm {
    .brand {
      .logo-wordmark {
        display: inline-block;
      }
      .logo-wordmark-mobile {
        display: none;
      }
    }
  }

  // Desktop styles
  @include media-nav {
    height: $nav-height;
    position: fixed;
    .wrap {
      margin: 42px columns(2) 0;
    }
    .brand {
      .logo-icon {
        fill: $yellow;
        position: absolute;
        width: 56px;
        height: 56px;
        left: -74px;
        top: -4px;
      }
      .logo-wordmark {
        margin-left: 0;
        width: 283px;
        height: 26px;
      }
    }

    // Sticky nav (collapsed)
    &.collapsed {
      height: $nav-height-collapsed;
      .wrap {
        margin: grid(2) columns(2);
      }
      .utility-nav,
      .brand .logo-wordmark {
        display: none;
      }
      .brand {
        .logo-icon {
          width: 48px;
          height: 48px;
          top: 0;
          left: -60px;
        }
      }
      .primary-nav {
        position: absolute;
        top: 4px;
        left: 0;
        margin: 0;
      }
    }
  }
}

// Mobile menu toggle
.menu-toggle {
  display: none;
  .icon-cross {
    display: none;
  }
}

.site-nav {
  // Primary links
  .primary-nav {
    font: 18px/1.333 $font-regular;
    letter-spacing: 0.07em;
    margin-top: 22px;
    a {
      display: block;
      color: $yellow;
      padding: grid(1);
    }
    a:hover,
    li.active a {
      text-decoration: underline;
    }

    li {
      a {
        display: block;
        padding: grid(1) 0;
        margin: 0;
      }
      &.divider-line {
        display: none;
      }
    }

    // Interim styles for breakpoint-sm up to breakpoint-nav
    @include media-sm {
      li {
        display: inline-block;
        margin-right: grid(3);
        &.divider-line {
          display: block;
          border-top: 2px solid $white;
          margin: grid(1) 0;
        }
        &.divider {
        }
        a {
          display: inline-block;
        }
      }
    }

    // Desktop nav styles
    @include media-nav {
      white-space: nowrap;
      li {
        margin: 0;
        a {
          padding: grid(1);
        }
      }
      li.divider-line {
        display: none;
      }
      .divider {
        margin: 0 0 0 grid(1);
        padding: 0 0 0 grid(2);
        border: none;
        position: relative;
        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 50%;
          margin-top: -8px;
          height: 16px;
          border-left: 2px solid $white;
        }
      }
    }
  }

  // Utility links
  .utility-nav {
    border-top: 2px solid $white;
    padding: grid(1) 0 0;
    margin: grid(1) 0 0;
    @extend %p3;
    a {
      display: block;
      color: $white;
      padding: 5px 0 10px;
    }
    li.active a,
    a:hover {
      text-decoration: underline;
    }

    // Interim styles
    @include media-sm {
      li {
        display: inline-block;
        margin-right: grid(3);
      }
    }

    // Desktop styles
    @include media-nav {
      li {
        display: inline-block;
        margin: 0;
      }
      position: absolute;
      top: 0;
      right: 0;
      font: 16px/1.5 $font-regular;
      text-transform: none;
      letter-spacing: 0;
      margin: 0;
      padding: 0;
      border: none;
      a {
        padding: grid(1);
      }
    }
  }

  // Desktop styles
  @include min-screen($breakpoint-nav) {
    margin-top: grid(2.5);

    ul {
      display: block;
      margin: 0 0 0 -#{grid(1)};
      padding: 0;
      li {
        list-style: none;
        display: inline-block;
      }
    }
  }
}

// Search form in nav
.nav-search {
  display: none;
  margin-top: grid(2);

  @include media-nav {
    margin: 0;
    .search-form {
      position: absolute;
      top: -12px;
      right: 0;
      width: 50%;
    }
    .search-close {
      position: absolute;
      right: -70px;
      top: 12px;
      width: 48px;
      height: 48px;
    }
  }
}

// Search open/close
body.search-open {
  @include media-nav {
    #menu-main-nav,
    #menu-utility-nav {
      display: none;
    }
    .nav-search {
      display: block;
    }
    .search-toggle {
      display: none;
    }
  }
}

// Icon in nav to toggle .nav-search
.search-toggle {
  display: none;
  position: absolute;
  right: -70px;
  top: 0;
  width: 48px;
  height: 48px;

  @include media-nav {
    display: block;
  }
}

// Hide nav/search button when nav search is active
.site-header.search-active {
  #menu-main-nav {
    display: none;
  }
  .nav-search {
    display: block;
  }
}

// Mobile/Interim only styling on #menu-main-nav (using max-screen to avoid overwriting all these specific styles)
@include max-screen($breakpoint-nav) {

  // Hide main & utility nav by default
  ul#menu-main-nav,
  ul#menu-utility-nav {
    display: none;
  }
  body.menu-open {
    // Show nav-search when mobile nav is open
    .nav-search {
      display: block;
    }

    // Show X button
    .menu-toggle {
      .icon-hamburger {
        display: none;
      }
      .icon-cross {
        display: block;
      }
    }
    // Hide Search (X) button
    .search-close {
      display: none;
    }

    // Make site-header fill viewport
    .site-header {
      background: $blurple-dark;
      height: auto;
    }
    // Give space for WP admin bar if present
    // &.admin-bar .site-header {
    //   padding-top: 32px;
    // }
    ul#menu-main-nav,
    ul#menu-utility-nav {
      display: block;
    }
  }
}

// Small screens only (full-viewport nav)
@include max-screen($breakpoint-sm) {
  .site-nav {
    // This class is added in wp admin menus
    .divider {
      margin: grid(1) 0 0;
      padding: grid(1) 0 0;
      border-top: 2px solid $white;
    }
  }

  body.menu-open {
    // Hide WP admin bar on small screens when nav is open
    #wpadminbar {
      display: none;
    }
    // Make site-header fill viewport
    .site-header {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $blurple-dark;
      height: auto;
      z-index: 100;
      overflow-y: scroll;
      .wrap {
        position: relative;
      }
    }
    // &.admin-bar .site-header {
    //   padding-top: grid(4);
    // }
    ul#menu-main-nav,
    ul#menu-utility-nav {
      display: block;
    }
  }
}