// Search

// General search form styles
.search-form {
  .search-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .input-wrap {
    flex: 1 1 auto;
  }
  .button-wrap {
    flex: 0 1 130px;
    margin-left: grid(2);
  }
}

body.search {
 .search-result {
 }
  .pagination {
  }
  .page-content .search-form {
  }
}
