// Search

// General search form styles
.search-form {
  .search-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .input-wrap {
    flex: 1 1 auto;
  }
  .button-wrap {
    flex: 0 1 130px;
    margin-left: grid(2);
  }
}

// In-page search form (404, search results)
.search-large {
  background: $blurple;
  @include global-padding(6);
  .search-close {
    display: none;
  }
}
// Dark headers for search + 404
body.search,
body.error404 {
  .page-header {
    .title-wrap {
      background: $blurple-dark;
      @include media-md {
        padding: grid(6) columns(5) grid(6) columns(2);
      }
    }
    .supporting-statement {
      margin-top: 0;
    }
  }
}

// Search results
body.search {
  article.search-result {
    margin-bottom: grid(4);
    h2 {
      color: $blurple;
      @extend %header-link;
    }
    .post-url {
      margin: grid(1) 0;
      a {
        color: $red;
        @extend %inline-link;
      }
    }
  }

  // Desktop styles
  @include media-md {
    .search-large {
      .search-form {
        width: columns(10, 16);
      }
    }
    .page-content {
      article {
        width: columns(10, 16);
      }
    }
  }
}
