// Announcements

.entry-meta {
  @extend %h4;
}

body.single-post,
body.blog {
  // Desktop styles
  @include media-md {
  }
}

// Announcement articles and single posts
.single-post,
.announcement {
  // Custom icon-list
  ul.icon-list {
    li {
      svg {
        top: 0;
      }
      margin-bottom: grid(2);
    }
    a {
      @extend %h5;
      color: $red;
      border: none;
    }
  }
}
