// Announcements

.entry-meta {
  @extend %h4;
}

// Margins + border between articles on list pages
article.announcement + article.announcement {
  margin-top: grid(6);
  padding-top: grid(4);
  border-top: 1px solid $blurple-dark;
}

// Announcement articles and single posts
.single-post,
.announcement {
  // Custom icon-list
  ul.icon-list {
    li {
      svg {
        top: 0;
      }
      margin-bottom: grid(2);
    }
    a {
      @extend %h5;
      color: $red;
      border: none;
    }
  }
}
