// Events

.events-listing {
	background: $blurple-dark;
	@include global-padding(12);

	p.nothing-found {
		color: $white;
	}

	.cards {
		>li h3 {
			margin-bottom: grid(2);
		}
		h4.category {
		  margin: 0 0 grid(1);
		  padding: 0;
		  .icon {
		    vertical-align: middle;
		    fill: $red;
		    width: 21px;
		    height: 24px;
		  }
		  span.term,
		  a {
		    display: inline-block;
		    &:nth-of-type(1) {
		      margin-left: grid(-1);
		    }
		  }
		  &, a, span.term {
		    color: $blurple-dark;
		  }
		}
	}

  .filters {
  	h4 {
  	  color: $white;
  	  margin-bottom: grid(1);
  	}

  	margin: 0 0 grid(4);
		.select-wrap {
			width: 100%;
		}

		@include media-md {
			.one-half:nth-child(1) {
				padding-right: grid(1);
			}
			.one-half:nth-child(2) {
				padding-left: grid(1);
			}
		}
	}
}
