// For IL Residents

.page.for-il-residents {

  // Eligibility blocks
  .eligibility-blocks {
    @include global-padding(0);
    h3 {
      color: $red;
      margin-bottom: grid(2);
    }
    li {
      margin-top: grid(4);
      padding-top: grid(2);
      border-top: 1px solid $blurple-dark;
    }

    // Desktop styles
    @include media-md {
      h3 {
        padding-right: grid(2);
      }
      li {
        border-top: 2px solid $blurple-dark;
      }
    }
  }

  // Programs
  .programs {
    @include media-md {
      margin-top: grid(12);
    }
  }

}
