// Home page

.home.page {
  .page-header {
    position: relative;
    .page-title {
      @include h2;
      position: absolute;
      bottom: $mobile-global-padding;
      left: $mobile-global-padding;
      color: $white;
    }
    .banner-image-wrap {
      @extend %inset-shadow;
    }

    // Desktop styles
    @include media-md {
      .page-title {
        @include h1-jumbo;
        bottom: grid(12);
        left: columns(2);
      }
      .banner-image-wrap {
        .banner-image {
          padding-bottom: 50%;
        }
      }
    }
  }

  // Supporting statement
  .supporting-statement {
    background: $blurple;
    color: $white;
    padding: $mobile-global-padding;
    p {
      @include p3;
    }

    // Desktop styles
    @include media-md {
      padding: grid(12) columns(2);
      p {
        @include p1;
      }
    }
  }

  // Overview blocks
  .overview-blocks {
    >li {
      // Mobile-only styles
      @include max-screen($breakpoint-medium) {
        .image {
          @include aspect-ratio(320,160);
        }
        .text {
          padding: $mobile-global-padding;
        }
      }
    }

    // Desktop styles
    @include media-md {
      >li {
        .text {
          padding: grid(12) columns(2,10);
          >h2 {
            color: $blurple;
          }
        }
        .image-wrap {
          height: 100%;
        }
        .image {
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
        }
        &:nth-child(even) {
          .grid-item:nth-child(1) {
            order: 2;
          }
          .grid-item:nth-child(2) {
            order: 1;
          }
        }

      }
    }
  }

  // Highlight blocks
  .highlight-blocks {
    @include global-padding;
    background: $blurple-lite;
    > h2 {
      margin: 0;
    }
    h2,
    h3 {
      color: $blurple;
    }
    .icon {
      margin: grid(5) 0 grid(2);
      img {
        display: block;
        width: 280px;
      }
    }
  }

  // Action blocks
  .action-blocks {
    @include global-padding;
    background: url('../images/temp.jpg');
    background-size: cover;
    >h2 {
      margin: 0 0 grid(5);
      color: $white;
    }

    // Desktop styles
    @include media-md {
      .cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, 33.3%);
        align-items: flex-start;
        grid-column-gap: grid(2);
        grid-row-gap: grid(2);
      }
    }
  }

  // Events
  .events {
    @include global-padding;
    background: $blurple-dark;
    >h2 {
      color: $white;
      margin: 0 0 grid(4);
    }
    article {
      >h3 {
        margin: 0 0 grid(2);
      }
    }

    // Desktop styles
    @include media-md {
      p {
        @include p1;
      }
    }
  }

  // Announcements
  .announcements {
    @include global-padding;
    >h2 {
      color: $blurple;
      margin: 0;
    }
    li {
      border-bottom: 2px solid $blurple-dark;
      &:last-of-type {
        border-bottom: none;
      }
      h3 {
        &, a {
          color: $red;
        }
        margin: grid(2) 0 grid(1);
      }
      p {
        @include p3;
      }
    }

  }


}

.cards {
  >li {
    >h4 {
      margin: 0;
    }
    border-radius: grid(1);
    padding: grid(3) grid(4);
    background: $white;
    h3 {
      color: $blurple;
      a {
        color: $blurple;
        text-decoration: none;
      }
    }
    .button {
      width: 100%;
    }

    &.inactive {
      background: $blurple-lite;
      h3 {
        color: $blurple-dark;
      }
      .button {
        background: $blurple-lite;
      }
    }
  }
}