// Home page

.page.home {
  .page-header-homepage {
    position: relative;
    .page-title {
      @include h2;
      margin: 0;
      position: absolute;
      bottom: $mobile-global-padding;
      left: $mobile-global-padding;
      color: $white;
    }

    // Homepage image banner gets different treatment (inset shadow, no margins)
    .image-wrap {
      @extend %inset-shadow;
      // Mobile only
      @include max-screen($breakpoint-md) {
        height: 50vh;
        max-height: 430px;
        .image {
          padding: 0;
          height: auto;
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
        }
      }
    }

    // Desktop styles
    @include media-md {
      .page-title {
        @include h1-jumbo;
        bottom: grid(12);
        left: columns(2);
      }
      .image-wrap {
        .image {
          padding-bottom: 50%;
        }
      }
    }
  }

  // Supporting statement
  .supporting-statement {
    @include global-padding(12);
    background: $blurple;
    color: $white;
    p {
      @include p3;
    }

    // Desktop styles
    @include media-md {
      p {
        @include p1;
      }
    }
  }

  // Overview blocks
  .overview-blocks {
    >li {
      // Mobile-only styles
      @include max-screen($breakpoint-md) {
        .image {
          @include aspect-ratio(320,160);
        }
        .text {
          padding: $mobile-global-padding;
        }
      }
    }

    // Desktop styles
    @include media-md {
      >li {
        .text {
          padding: grid(12) columns(2,10);
          >h2 {
            color: $blurple;
          }
        }
        .image-wrap {
          height: 100%;
        }
        .image {
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
        }
        &:nth-child(even) {
          .grid-item:nth-child(1) {
            order: 2;
          }
          .grid-item:nth-child(2) {
            order: 1;
          }
        }

      }
    }
  }

  // Highlight blocks
  .highlight-blocks {
    @include global-padding;
    background: $blurple-lite;
    > h2 {
      margin: 0;
    }
    h2,
    h3 {
      color: $blurple;
    }
    .icon {
      margin: grid(5) 0 grid(2);
      img {
        display: block;
        width: 280px;
      }
    }
  }

  // Action blocks
  .action-blocks {
  }

  // Events
  .events {
    @include global-padding;
    background: $blurple-dark;
    >h2 {
      color: $white;
      margin: 0 0 grid(4);
    }
    article {
      >h3 {
        margin: 0 0 grid(2);
      }
    }
    .details {
      li {
        padding-right: grid(6);
      }
    }
    a.button.icon {
      position: absolute;
      bottom: grid(3);
      right: grid(3);
    }

    // Desktop styles
    @include media-md {
      p {
        @include p1;
      }
    }
  }

  // Announcements
  .announcements {
    @include global-padding;
    >h2 {
      color: $blurple;
      margin: 0;
    }
    li {
      border-bottom: 2px solid $blurple-dark;
      &:last-of-type {
        border-bottom: none;
      }
      h3 {
        &, a {
          color: $red;
        }
        margin: grid(2) 0 grid(1);
      }
      p {
        @include p3;
      }
    }
  }
}

.cards-image-block {
  @include global-padding;
  @extend %inset-shadow;
  // Default background
  background: url('../images/temp.jpg');
  background-size: cover;
  >h2 {
    margin: 0 0 grid(5);
    color: $white;
  }
}
