// Programs

.single-program {
  .page-header.tertiary {
    background: $blurple;
    padding-bottom: grid(2);
  }
  // Main content + featured image + stat block
  .content-image-stat {
    // Sidebar image styles for mobile
    .image-wrap {
      padding-bottom: 100%;
      @include min-screen($breakpoint-sm) {
        padding-bottom: 50%;
      }
    }

    // Desktop styles
    @include media-md {
      display: grid;
      grid-template-areas:
        "text image"
        "text stat";
      grid-template-columns: 7fr 3fr;
      grid-template-rows: 1fr 1fr;

      .page-content {
        grid-area: text;
        @include media-md {
          padding: grid(12) columns(2,14);
        }
        > .user-content {
          width: 100%;
        }
      }
      .image-content {
        grid-area: image;
      }
    }
  }

  // Apply block
  .apply {
    background: $blurple;
    color: $white;
    >h2 {
      @extend %h1;
      margin: grid(2) 0;
    }
    @include global-padding(12);
    .user-content.supporting-copy {
      p {
        @include p3;
      }
    }

    // Desktop styles
    @include media-md {
      .user-content {
        padding-right: columns(4, 16);
      }
    }
  }

  // Vendors & Tools
  .contact-vendors-tools {
    .contact {
      @include global-padding(12);
      background: $blurple-lite;
      >h2 {
        color: $blurple;
        margin-bottom: grid(2);
      }
    }

    .vendors-tools {
      @include global-padding(12);
      >h2 {
        color: $blurple;
        margin-bottom: grid(2);
      }
    }
    ul.resources {
      li {
        a {
          border-top: 2px solid $blurple-dark;
          &, span {
            @include transition(all);
          }
          &:hover,
          &:focus {
            span {
              color: $blurple-dark;
              background-color: rgba($green, 1);
              box-shadow: .2em .1em 0 rgba($green, 1), -.2em .1em 0 rgba($green, 1), -.2em 0 0 rgba($green, 1), .2em 0 0 rgba($green, 1);
            }
            svg {
              fill: $blurple-dark;
            }
          }
        }
      }
    }
  }
}
