// Typography

// Fonts
$font-header: 'GT Pressura', sans-serif;
$font-regular: 'Cadiz Trial', sans-serif;
$font-mono: 'GT Pressura Mono', sans-serif;

@mixin font-regular {
  font-weight: normal;
  font-family: $font-regular;
}
@mixin font-header {
  @include smooth;
  font-weight: normal;
  font-family: $font-header;
  margin: 0 0 grid(2);
  letter-spacing: -0.1px;
}
@mixin font-mono {
  @include smooth;
  font-family: $font-mono;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 2.41px;
  text-transform: uppercase;
}

@mixin h1 {
  @include font-header;
  font-size: 72px;
  line-height: 80px;
}
h1 { @include h1; }

@mixin h2 {
  @include font-header;
  font-size: 36px;
  line-height: 40px;
}
h2 { @include h2; }

@mixin h3 {
  @include font-header;
  font-size: 28px;
  line-height: 32px;
}
h3 { @include h3; }

@mixin h4 {
  @include font-mono;
}
h4 { @include h4; }

@mixin h5 {
  @include font-mono;
  font-weight: bold;
}
h5 { @include h5; }

@mixin p1 {
  @include font-regular;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 1px;
}
p.intro { @include p1; }

@mixin p2 {
  @include font-regular;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0.75px;
}
p,
.p2,
figcaption {
  @include p2;
}

@mixin p3 {
 @include font-regular;
 font-size: 16px;
 line-height: 24px;
 letter-spacing: 0.47px;
}
.p3,
p.p3,
p.small {
  @include p3
}
