// Browser alert
.old-browser {
  top: 0;
  left: 0;
  right: 0;
  color: $white;
  padding: 50px;
  text-align: center;
  background: $red;
}

// Utility classes
.hidden,
.hide {
  display: none;
}
.loading {
  opacity: .5;
}

// Visually hide, accessibility-friendly
.screen-reader-text,
.sr-only {
  @include sr-only;
}

.clearfix,.cf {
  @include clearfix;
}

.bigclicky {
  cursor: pointer;
}

// Visibility classes (borrowing nomenclature from Foundation)
.show-for-medium-up {
  display: none;
  @include media-md {
    display: block;
    &.-inline {
      display: inline-block;
    }
  }
}
.hide-for-medium-up {
  @include media-md {
    display: none !important;
  }
}
