// Variables

// Colors

$black: #16161A;
$white: #FDFDFD;
$night: #212126;

$blurple-dark: #1C245E;
$blurple: #5062E5;
$blurple-lite: #D4D9FA;
$yellow: #FACE0C;
$green: #57D984;
$red: #E04E22;

$transition-duration: 0.1s;
$transition-easing: ease-in-out;

// Brand Swatches
$brand-primary: $blurple-dark;
$brand-secondary: $yellow;
$brand-tertiary: $green;
$brand-quaternary: $red;

// Breakpoints
$breakpoint-small: 480px;
$breakpoint-medium: 920px;
$breakpoint-large: 1000px;
$breakpoint-huge: 1200px;
$breakpoint-nav: 960px;
