// Cards

.cards {
  @include clearfix;
  >li {
    >h4 {
      margin: 0 0 grid(2.5);
    }
    display: block;
    position: relative;
    border-radius: grid(1);
    padding: grid(3) grid(4);
    margin: 0 0 grid(2);
    background: $white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    width: 100%;
    h3 {
      color: $blurple;
      margin: 0 0 grid(4);
      @extend %header-link;
    }
    p {
      @include p3;
    }
    .button:not(.-icon) {
      width: 100%;
      min-width: 0;
    }

    &.inactive {
      background: $blurple-lite;
      h3 {
        color: $blurple-dark;
      }
      .button {
        background: $blurple-lite;
      }
    }
  }

  // Desktop styles
  @include media-md {
    &.compact-grid {
      li.item {
        margin: 0;
        width: calc((100% - #{grid(6)}) / 3);
        float: left;
        margin-bottom: grid(2);
      }

      &.-four-per {
        li.item {
          width: calc((100% - #{grid(8)}) / 4);
        }
      }

      &.-five-per {
        li.item {
          width: calc((100% - #{grid(10)}) / 5);
        }
      }
    }
  }
}
