// Forms

form {
  color: $blurple-dark;

  .form-response {
    color: $white;
    @extend %p1;
    &.error,
    &.success {
      margin-top: grid(4);
    }
  }

  fieldset {
    margin: 0;
    padding: 0;
    border: none;
  }

  .form-row {
    + .form-row {
      margin-top: grid(1);
    }

    &.spaced {
      label:not(.radio) {
        left: $gutter + 4px;
      }
    }
  }

  // Input wraps w/ formassembly support
  .input-wrap {
    position: relative;

    label:not(.radio) {
      @include h4;
      top: 22px;
      left: $gutter;
      position: absolute;
      pointer-events: none;
      @include transition(all);
    }
  }

  // Move label up when focused
  .input-wrap.focused label,
  .input-wrap.filled label,
  input:focus + label {
    top: 4px;
    @include h5;
  }

  // Base input style
  input[type=text],
  input[type=search],
  input[type=email],
  input[type=number] {
    width: 100%;
    @include p2;
    border: none;
    height: grid(9);
    border-radius: 8px 8px 0 0;
    padding: grid(2) grid(2) grid(1);
    background-color: $white;
    text-align: left;

    &:focus {
      outline: none;
      padding-bottom: 0;
      border-bottom: grid(1) solid $yellow
    }
  }

  input[type=search] {
    box-sizing: border-box;
    -webkit-appearance: none;
  }

  .submit {
    margin-top: $gutter;
  }

  // Custom radio styles

  // <label class="control radio">
  //   <input type="radio" name="foo" value="1">
  //   <span class="control-indicator"></span>
  //   <span class="control-text">Click me</span>
  // </label>

  label.radio {
    display: block;

    input[type="radio"] {
      @include sr-only;
      &:active,
      &:checked {
        + .control-indicator {
          background-color: $red;
          background-image: url('../svgs/icon-checkmark-white.svg');
          background-size: 18px 18px;
          background-position: center;
          background-repeat: no-repeat;
        }
      }
    }

    .control-indicator {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: grid(1);
      display: inline-block;
      background-color: $white;
    }

    .control-text {
      @include h3;
      padding-top: 3px;
      vertical-align: top;
      display: inline-block;
    }
  }

  // Status
  .status {
    @include h5;
    margin: $gutter 0;
  }
}

// Custom select styles
.select-wrap {
  text-align: left;
  position: relative;
  display: inline-block;
  &:after {
    top: 19px;
    width: 18px;
    content: '';
    height: 18px;
    right: $gutter;
    position: absolute;
    pointer-events: none;
    background-image: url('../svgs/icon-arrow-dropdown.svg');
  }

  select {
    @include h5;
    // reset
    border: none;
    box-shadow: none;
    background-image: none;
    -webkit-appearance: none;
    //
    width: 100%;
    cursor: pointer;
    height: grid(9);
    border-radius: 8px 8px 0 0;
    background-color: $white;
    padding: $gutter 50px $gutter $gutter;
    @include transition(background-color);

    &:hover {
      background-color: $red;
    }

    &:focus {
      outline: none;
    }
  }
}

// FormAssembly specific

.formassembly-iframe {
  @include clearfix;
  iframe {
    border: none;
    margin: 0;
    padding: 0;
  }
}
.formassembly-form {
  form {
    // Group headers
    .oneField[role="group"] > label {
      @extend %h3;
      color: $white;
    }
    // List of radios from FormAssembly
    .choices.vertical {
      label {
        display: inline-block;
        color: $white;
        margin: grid(1) 0 0 grid(1);
      }
    }
    .primaryAction {
      @extend %button;
    }
  }
  .wFormFooter {
    display: none;
  }
}
