// Headers

.page-header {
  position: relative;

  .title-wrap {
    @include global-padding(12)
    background: $blurple;
    color: $white;
    h1 {
      margin: 0;
    }
  }

  .banner-image-wrap {
    padding: 0 $mobile-global-padding;
    background-image: linear-gradient(to top, rgba(0,0,0,0) 50%, $blurple 50%);
    @include media-md {
      padding: 0 columns(2);
    }
  }

  // Supporting statement
  .supporting-statement {
    @include global-padding(6);
    p {
      @include p3;
    }

    // Desktop styles
    @include media-md {
      p {
        @include p1;
      }
    }
  }
}

.image-wrap {
  position: relative;
  .image {
    background-size: cover;
    background-position: center;
  }
}

.banner-image-wrap {
  position: relative;
  .banner-image {
    background-size: cover;
    background-position: center;
  }

  // Desktop styles
  // @include media-md {
    .banner-image {
      height: 0;
      padding-bottom: 43%;
    }
  // }
}
