// Headers

.page-header {
  position: relative;
}

.image-wrap {
  position: relative;
  .image {
    background-size: cover;
    background-position: center;
  }
}

.banner-image-wrap {
  position: relative;
  .banner-image {
    background-size: cover;
    background-position: center;
  }

  // Mobile only
  @include max-screen($breakpoint-medium) {
    height: 50vh;
    max-height: 430px;
    .banner-image {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }
  }

  // Desktop styles
  @include media-md {
    .banner-image {
      height: 0;
      padding-bottom: 43%;
    }
  }
}
