// Jump to links (built dynamically from various links in page, shown in header)

// WP admin bar push
.admin-bar {
  .jumpto.stuck {
    top: $nav-height-mobile;
    // Up until 600px WP adminbar is not fixed
    @include min-screen(600px) {
      top: $nav-height-mobile + $admin-bar-height-mobile;
    }
    // Desktop styles (weird WP breakpoint 782px)
    @include min-screen(782px) {
        top: $admin-bar-height + $nav-height-collapsed;
    }
  }
}

.jumpto-sticky-wrapper {
  background: $blurple;
}

.jumpto {
  position: relative;
  background: $blurple;
  padding: grid(2) $mobile-global-padding;
  @include h5;
  svg {
    vertical-align: top;
  }
  .jumpto-title {
    cursor: pointer;
    padding: grid(1) grid(1) grid(1) 0;
    opacity: 0;
    color: $yellow;
    svg {
      display: none;
    }
  }
  .jumpto-toggle {
    position: absolute;
    width: 24px;
    height: 24px;
    top: grid(2) + 8px;
    right: $mobile-global-padding + 12px;
    svg {
      width: 24px;
      height: 24px;
      fill: $yellow;
      @include transition(fill);
    }
    &:hover {
      svg {
        fill: $blurple-dark;
      }
    }
    .icon-minus {
      display: none;
    }
  }
  // Page has loaded and jumpto-links are found on page
  &.loaded {
    // min-height: 70px;
    .jumpto-title {
      opacity: 1;
    }
  }
  li {
    cursor: pointer;
    padding: 0 grid(3) grid(1) 0;
    color: $yellow;
    &:hover {
      text-decoration: underline;
    }
  }

  // Stuck!
  &.stuck {
    position: fixed;
    z-index: 50;
    top: $nav-height-mobile;
    width: 100%;
    @include drop-shadow;
  }

  // Mobile only styles
  @include max-screen($breakpoint-sm) {
    ul {
      // margin-right: grid(7); // this made titles wrap too much on smaller screens imo
      // display: block;
    }
    li {
      display: block !important; // overriding Velocity-added inline style of inline-block
      padding-top: grid(1);
      border-top: 2px solid $blurple-dark;
    }
  }

  // Interim only styles
  @include max-screen($breakpoint-md) {
    ul {
      display: none;
    }
    &.-active {
      .jumpto-toggle {
        .icon-plus {
          display: none;
        }
        .icon-minus {
          display: block;
        }
      }
      ul {
        margin-top: grid(2);
        display: block;
      }
    }
  }
  // Between sm and md we have a border on top of the UL
  @include screen($breakpoint-sm, $breakpoint-md) {
    ul {
      margin-top: grid(1);
      padding-top: grid(2);
      border-top: 2px solid $blurple-dark;
    }
  }

  // Desktop styles
  @include media-md {
    padding: grid(2) columns(2);

    &.stuck {
      top: $nav-height-collapsed;
    }
    .jumpto-toggle {
      display: none;
    }
    .jumpto-title {
      float: left;
      width: 130px;
      color: $blurple-dark;
      svg {
        display: inline-block;
      }
    }
    ul {
      display: block;
      margin-left: 130px;
    }
    li {
      padding: grid(1) grid(2);
      display: inline-block;
    }
  }
}