// Maps

.map-column {
  position: relative;
}
.map-container {
  width: 100%;
  height: 100%;
  position: relative;
  // Stuck!
  &.stuck {
    position: fixed;
    width: 50%;
    &.stuck-bottom {
      position: absolute;
      top: auto !important;
      bottom: 0;
      width: 100%;
    }
  }
}
@include max-screen($breakpoint-md) {
  .map-container,
  .map-sticky-wrapper {
    display: none;
  }
}

#map,
.map {
  z-index: 0;
  display: none;
  @include media-md {
    height: 100%;
    display: block;
  }

  &.loaded {
    background: none;
  }

  .mapboxgl-ctrl-icon.mapboxgl-ctrl-compass {
    display: none;
  }
}

// Map-point styles
.map-point {
  &.-hover {
    .article-title a {
      text-decoration: underline;
    }
  }
}

// Mapbox controls
#map {
  .mapboxgl-ctrl-top-right .mapboxgl-ctrl {
    margin: 80px 70px 0 0;
  }
  .mapboxgl-ctrl.mapboxgl-ctrl-group {
    border: none;
    box-shadow: none;
    background: none;
    margin: grid(4) 0 0 grid(4);
    .mapboxgl-ctrl-icon {
      width: 56px;
      height: 56px;
      background: $yellow;
      border-radius: 50%;
      border: none;
      margin-bottom: 20px;
      .icon {
        top: 2px;
        width: 24px;
        height: 24px;
        position: relative;
      }
    }
  }
}

// Popups
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
  border-bottom-color: $red !important;
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
  border-top-color: $red !important;
}
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: $red !important;
}
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: $red !important;
}
.mapboxgl-popup-content {
  font: 16px/1.5 $font-regular;
  padding: 0;
  background: $red !important;
  color: $white;
}

.mapboxgl-popup-content-wrapper {
  padding: 1%;
}