// Organizations (used on Job Training & Grassroots Education)

.organizations-listing {
	background: $blurple-dark;
	@include global-padding(12);
  .select-wrap {
    width: 100%;
    margin: 0 0 grid(4);
  }
  h4 {
    color: $white;
    margin: 0 0 grid(1);
  }
  .user-content {
    margin: 0 0 grid(4);
    h2,
    h3,
    h4,
    ul,
    ol,
    p {
      color: $white;
    }
    h2 {
      @extend %h1;
    }
  }

  li.item {
    ul {
      display: none;
    }
    a.toggler {
      position: absolute;
      bottom: grid(3);
      right: grid(3);
      width: 24px;
      height: 24px;
    }
    .icon-cross {
      display: none;
    }
    &.active {
      ul {
        display: block;
      }
      .icon-cross {
        display: block;
      }
      .icon-plus {
        display: none;
      }
    }

    @include media-md {
      ul {
        display: block;
      }
      a.toggler {
        display: none;
      }
    }
  }
}
