// Shared components

// Wrappers around buttons
.actions {
  margin: grid(2) 0;
}

// Eligibility/EJC blocks
.midpage-blocks {
  @include global-padding(0);
  padding-top: 0;
  h3 {
    color: $red;
    margin-bottom: grid(2);
  }
  li {
    margin-top: grid(4);
    padding-top: grid(2);
    border-top: 1px solid $blurple-dark;
    &.headline {
      color: $blurple;
      margin-top: 0;
      padding-top: 0;
      border: none;
    }
  }

  // Desktop styles
  @include media-md {
    h3 {
      padding-right: grid(2);
    }
    li {
      border-top: 2px solid $blurple-dark;
    }
  }
}

.midpage-prompt-with-image {
  background: $blurple;
  margin: $mobile-global-padding 0;
  .user-content {
    &,
    h2,h3 {
      color: $white;
    }
  }
  // Full width prompts
  .button {
    width: 100%;
  }

  // Mobile-only styles
  @include max-screen($breakpoint-md) {
    .image {
      @include aspect-ratio(320,160);
    }
    .text {
      padding: $mobile-global-padding;
    }
  }
  // Desktop styles
  @include media-md {
    margin: grid(6) 0 grid(8);
    .text {
      padding: grid(12) columns(2,10);
    }
    .image-wrap {
      height: 100%;
    }
    .image {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }
  }
}


// Intro + resources list for pages (only used on grassroots education for now)
.page-resources {
  @include global-padding(12);
  background: $white;
  .user-content {
    h2 {
      @extend %h1;
    }
  }

  @include media-md {
    // Add padding for each column
    .one-half {
      &:nth-child(1) {
        padding-right: columns(1);
      }
      &:nth-child(2) {
        padding-left: columns(1);
      }
    }
    // Desktop has no border on first resource
    ul.resources li:first-child a {
      border-top: none;
    }
  }
}

// Stats / Quotes
.stat-content {
  @include vertical-center;
  grid-area: stat;
  background: $blurple-lite;
  text-align: center;
  padding: grid(4) columns(1,6);
  .stat {
    dt {
      @extend %h1;
    }
    dd {
      margin-top: grid(1);
      @include h4;
    }
    &.long-text {
      dt {
        @extend %p2;
      }
    }
  }
}

// Shared icon-list styles between ul.requirements (programs listing), ul.contact-items (single programs), ul.details (event listing)
ul.icon-list {
  margin: grid(3) 0;
  padding: 0;
  outline-style: none;
  li {
    // Remove any .user-content bullets
    &::before {
      display: none;
    }
    position: relative;
    padding-left: grid(5);
    &,
    address {
      @include p3;
    }
    address {
      span {
        display: inline-block;
      }
    }
    margin: grid(1) 0;
    a {
      border-bottom: 1px solid $blurple-dark;
      @include inline-link;
    }
    svg {
      margin: 0;
      position: absolute;
      top: 2px;
      left: 0;
      fill: $red;
      width: 24px;
      height: 24px;
    }
  }

  &.-small {
    li {
      padding-left: grid(4);
      &,
      address {
        @include h4;
      }
      svg {
        top: 4px;
        width: 16px;
        height: 16px;
      }
      // odd sized svg
      &.category svg {
        width: 21px;
        height: 24px;
      }
    }
  }
}

// Shared resources list (single programs, page-resources for grassroots education)
ul.resources {
  margin: grid(3) 0;
  padding: 0;
  list-style: none;
  li {
    margin: 0;
    &::before {
      display: none;
    }
    a {
      border-top: 2px solid $blurple-dark;
      display: block;
      position: relative;
      color: $red;
      @include h5;
      padding: grid(2) grid(6) grid(2) 0;
      &, span {
        @include transition(all);
      }
      &:hover,
      &:focus {
        span {
          color: $blurple-dark;
          background-color: rgba($green, 1);
          box-shadow: .2em .1em 0 rgba($green, 1), -.2em .1em 0 rgba($green, 1), -.2em 0 0 rgba($green, 1), .2em 0 0 rgba($green, 1);
        }
        svg {
          fill: $blurple-dark;
        }
      }
    }
    svg {
      position: absolute;
      top: grid(2);
      right: 0;
      fill: $red;
    }
  }
}
